<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{.title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="/timeline.js"></script>

  <!-- Bootstrap -->
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- select2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js">
  </script>
  <script>
    $(function () {
      $('.select2').select2({});
    });
  </script>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    table{
      width: 100%;
      border-collapse:separate;
      border-spacing: 0;
    }

    table th:first-child{
      border-radius: 5px 0 0 0;
    }

    table th:last-child{
      border-radius: 0 5px 0 0;
      border-right: 1px solid #3c6690;
    }

    table th{
      text-align: center;
      color:white;
      background: linear-gradient(#829ebc,#225588);
      border-left: 1px solid #3c6690;
      border-top: 1px solid #3c6690;
      border-bottom: 1px solid #3c6690;
      box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
      width: auto;
      padding: 10px 0;
    }

    table td{
      text-align: center;
      border-left: 1px solid #a8b7c5;
      border-bottom: 1px solid #a8b7c5;
      border-top:none;
      box-shadow: 0px -3px 5px 1px #eee inset;
      width: auto;
      padding: 10px 0;
    }

    table td:last-child{
      border-right: 1px solid #a8b7c5;
    }

    table tr:last-child td:first-child {
      border-radius: 0 0 0 5px;
    }

    table tr:last-child td:last-child {
      border-radius: 0 0 5px 0;
    }

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Top</a>
    <a href="/api/cronjobs/json" class="navbar-brand">Json</a>
    <a href="/api/cronjobs/yaml" class="navbar-brand">Yaml</a>
    <a href="/logs/podname" class="navbar-brand">Logs</a>
    <a href="/api/logs/podname/json" class="navbar-brand">Logs(Json)</a>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h1">CronJobChart</h1>
        </div>

        <h2>TimeLine</h2>
        <div id="jobChart" , style="height: 40vh; overflow: hidden;"></div>
        
        <h2>Exec</h2>
          <table>
            <tr>
              <th>Name</th>
              <th>Schedule</th>
              <th>Image</th>
              <th>Command</th>
              <th>実行</th>
            </tr>
            {{range .cronJobs}}
            <tr>
              <td>{{.Name}}</td>
              <td>{{.Schedule}}</td>
              <td>{{.Image}}</td>
              <td>{{range $i, $v := .Command}}{{$v}} {{end}}</td>
              <td>
                  <form method="post" action=/exec/{{.Name}} >
                  <input type="submit" value="{{.Name}}"></input>
                  </form>
              </td>
            </tr>
            {{end}}
          </tr></table>

        <h2>Logs</h2>
        <select name="_pod" class="select2">
          <option value="">--- Pod名を選択 ---</option>
          {{range .cronJobs}}
                  <optgroup label="{{.Name}}">
                  {{ range .Jobs }}
                    {{ range $i, $v := .PodsNames }}
                      <option value="./logs/{{$v}}">{{$v}}</option>
                    {{end}}
                  {{end}}
              </optgroup>
          {{end}}
        </select>
        <!-- jump -->
        <script>
          const selected = $("select[name=_pod]");
          selected.on('change', function () {
            window.location.href = selected.val();
          });
        </script>
      </main>
    </div>
  </div>
</body>

</html>
